*,
html{
    margin: 0;
    padding: 0;
}



.countener-navbar {
    background-color: rgb(0, 0, 57);
    width: 100%;
    height: 10vh;
}

.ul-navbar {
display: flex;
height: 80px;
justify-content: center;
align-items: center;
}

.li-navbar {
   
    list-style-type:none ;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
background-color: red;
transition: .0s ease-in-out;
transition-delay: .3s;
border-radius: 8px;
}

.a-navbar{
    color: white;
    text-decoration:none ;
}

.countener-content {
background-color: white;
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
}

.a-content {
    background-color: white
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 480px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);


}
.img-content {
    width: 50%;
    height: 50%;
}

.countener-FOOTER {
height: 10px;
background-color: blue;
display:flex ;
justify-content:center ;
align-items: center;
    color: white;
    border: 30px solid rgb(0, 0, 57);
    background-color: rgb(0, 0, 57);
    list-style-type:none ;
}

.h1-FOOTER {
font-size: 40px;

}